<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  <script type="text/javascript" src="{% static 'js/funtion_form.js' %}"></script>
</head>
<body class="bintang">
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">
        <img src="https://i.imgur.com/YBdO41f.png" alt="Commercial Photography" width="150"> </a>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav text-light text-center">
          <li class="nav-item text-center text-light">
            <a class="nav-link text-light" href="#"style="font-family:Raleway">Kontak</a>
          </li>
          <li class="nav-item text-center text-light">
            <a class="nav-link text-light" id ="fit" href="#fitur" style="font-family:Raleway">Fitur</a>
          </li>
        </ul>
        <a class="btn navbar-btn ml-2 text-white btn-secondary"data-toggle="modal" data-target="#formLogin" tabindex="-1">
          <i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign in</a>
          <div class="modal fade" id="formLogin" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                  <h2 class="modal-title w-100 font-weight-bold text-white">Sign In</span></h3>
                  <button type="button" class="close" data-dismiss="modal" style="font-size:24pt;color:white">&times;</button>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form role="form">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="usrname"><span class="fa fa-user-circle" style="font-size:24pt"></span></label>
                      <input type="text" class="form-control" id="usrname" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                      <label for="psw"><span class="fa fa-lock" style="font-size:24pt"></span></label>
                      <input type="password" class="form-control" id="psw" placeholder="Enter password">
                      <label for="psw">Forgot <a href="#">Password?</a></label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="" checked>Remember me</label>
                    </div>
                      <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  <p>Not a member? <a data-toggle="modal" data-target="#formRegis"style="color:red;cursor:pointer">Sign Up</a></p>
                </div>
              </div>

            </div>
          </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="py-5">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="py-5">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formRegis" tabindex="-1" data-backdrop="static">Register Now</button>
              <div class="modal fade" id="formRegis" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                      <h2 class="modal-title w-100 font-weight-bold text-white">Register Now</span></h3>
                      <button type="button" class="close" data-dismiss="modal" style="font-size:24pt;color:white">&times;</button>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                      <form role="form" method="post" action="{% url 'bmnc-home:registrasi_narasumber' %}">
                        <div class="form-group">
                          <label for="roleuser">Role:</label>
                          <select class="form-control" id="roleuser" name="rolenarasumber"required="true">
                            <option>Select Role --</option>
                            <option value="Mahasiswa">Mahasiswa</option>
                            <option value="Karyawan">Karyawan</option>
                            <option value="Dosen">Dosen</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="uname"><span class="fa fa-user-o" style="font-size:18pt"></span></label>
                          <input type="text" class="form-control" id="uname" name="usernamenarasumber" placeholder="Enter username" required="true">
                        </div>
                        <div class="form-group">
                          <label for="pass"><span class="fa fa-lock" style="font-size:18pt"></span></label>
                          <input type="password" class="form-control" id="pass" name="passwordnarasumber" placeholder="Enter password" required="true">
                        </div>
                        <div class="form-group">
                          <label for="idnumber"><span class="fa fa-vcard" style="font-size:18pt"></span></label>
                          <input type="number" class="form-control" id="idnumber" name="idnumbernarasumber" placeholder="Enter NIK/NPM" required="true">
                        </div>
                        <div class="form-group">
                          <label for="nameuser"><span class="fa fa-check-square-o" style="font-size:18pt"></span></label>
                          <input type="text" class="form-control" id="nameuser" name="namanarasumber"placeholder="Enter name" required="true">
                        </div>
                        <div class="form-group">
                          <label for="place"><span class="fa fa-map-marker" style="font-size:18pt"></span></label>
                          <input type="text" class="form-control" id="place" name="tempatlahirnarasumber" placeholder="Enter place date" required="true">
                        </div>
                        <div class="form-group">
                          <label for="bdate"><span class="fa fa-calendar-check-o" style="font-size:18pt"></span></label>
                          <input type="date" class="form-control" id="bdate" name="tanggallahirnarasumber" placeholder="Enter birth date" required="true">
                          <label for="bdate" style="font-size:12px"> Your birthdate. ex: 05/23/1998</label>
                        </div>
                        <div class="form-group">
                          <label for="email"><span class="fa fa-envelope-o" style="font-size:18pt"></span></label>
                          <input type="email" class="form-control" id="email" name="emailnarasumber" placeholder="Enter email" required="true">
                        </div>
                        <div class="form-group">
                          <label for="pnumber"><span class="fa fa-phone" style="font-size:18pt"></span></label>
                          <input type="number" class="form-control" id="pnumber" name="phonenarasumber" placeholder="Enter phone number">
                        </div>
                        <div class="form-group" id = "additionalinput">
                        </div>
                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Submit</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" id="cancel" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="pb-4 text-secondary" id ="fitur" style="font-size:24pt;font-family:Raleway">Benefit for You</h2>
        </div>
      </div>
      <div class="row">
        <div class="align-self-center text-md-right text-center col-md-4">
          <h3 class="text-secondary"style="font-family:Raleway">Berita Up to date&nbsp;</h3>
          <p class="mb-5"style="font-family:Raleway">Kamu bisa memberikan berita dari kampus kamu</p>
          <h3 class="text-secondary"style="font-family:Raleway">Mudah, Murah, Cepat</h3>
          <p class="mb-5"style="font-family:Raleway">Dengan smartphone yang kamu punya, kamu bisa upload berita semau kamu</p>
          <h3 class="text-secondary"style="font-family:Raleway">Terpercaya A.ka Anti Hoax</h3>
          <p class=""style="font-family:Raleway">Narasumber yang diwawancarai merupakan narasumber yang bener benar ikut / tahu kejadian itu</p>
        </div>
        <div class="my-3 col-md-4">
          <img class="img-fluid d-block ml-1 mx-auto" src="https://i.imgur.com/1sOFWsP.jpg"> </div>
        <div class="align-self-center text-md-left text-center col-md-4" draggable="true">
          <h3 class="text-secondary"style="font-family:Raleway">Menambah wawasan</h3>
          <p class="mb-5"style="font-family:Raleway">Dengan membaca berita setiap hari, kamu akan menambah wawasan mengenai kampus lain</p>
          <h3 class="text-secondary"style="font-family:Raleway">Connection</h3>
          <p class="mb-5"style="font-family:Raleway">Kalian dapat berinteraksi dengan mahasiswa dari luar universitas</p>
        </div>
      </div>
    </div>
  </div>
</body>
{% block javascript %}
<script type="text/javascript">
$("#uname").change(function () {
    console.log( $(this).val() );
    username = $(this).val();
    $.ajax({
        method: "POST",
        url: '{% url "bmnc-home:validate_username" %}',
        data: {
            'username': username,
        },
        dataType: 'json',
        success: function (data) {
            console.log(data)
            if (data.is_taken) {
                alert("Username ini sudah terdaftar, silahkan masukkan username lain");
                $("#uname").val("");
            }
        }
    });
});

$("#pass").change(function () {
    console.log( $(this).val() );
    password = $(this).val();
    var letter = /[a-zA-Z]/;
    var number = /[0-9]/;
    if (password.length < 8){
      alert("Password minimal memiliki 8 karakter");
      $(this).val("");
    }
    if (!letter.test(password) || !number.test(password)) {
      alert("Password harus memiliki huruf dan angka");
      $(this).val("");
    }
});

$("#idnumber").change(function () {
    console.log( $(this).val() );
    username = $("#uname").val();
    idnumber = $(this).val();
    role = $("#roleuser option:selected").val();
    $.ajax({
      if (role == 'Mahasiswa'){
        method : "POST",
        url :'{% url "bmnc-home:validate_mahasiswa" %}',
        data : {
            'username': username, 'npm' : idnumber
        },
        dataType : 'json',
        success= function (data) {
            console.log(data)
            if (data.username_is_taken) {
                alert("Username ini sudah terdaftar, silahkan masukkan username lain");
            }
            else if(data.npm_is_taken) {
                alert("NPM ini sudah terdaftar, silahkan masukkan NPM lain atau ingat kembali akun anda yang lama");
            }
        }
      }
      else if (role = 'Dosen'){
        method: "POST",
        url: '{% url "bmnc-home:validate_dosen" %}',
        data: {
            'username': username, 'nik' : idnumber
        },
        dataType: 'json',
        success: function (data) {
            console.log(data)
            if (data.username_is_taken) {
                alert("Username ini sudah terdaftar, silahkan masukkan username lain");
            }
            else if(data.nik_is_taken) {
                alert("NIK ini sudah terdaftar, silahkan masukkan NIK lain atau ingat kembali akun anda yang lama");
            }
        }
      }
      else{
        method: "POST",
        url: '{% url "bmnc-home:validate_staf" %}',
        data: {
            'username': username, 'nik' : idnumber
        },
        dataType: 'json',
        success: function (data) {
            console.log(data)
            if (data.username_is_taken) {
                alert("Username ini sudah terdaftar, silahkan masukkan username lain");
            }
            else if(data.nik_is_taken) {
                alert("NIK ini sudah terdaftar, silahkan masukkan NIK lain atau ingat kembali akun anda yang lama");
            }
        }
      }
    });
});
</script>
{% endblock %}
<footer style="font-family: Raleway, cursive">

    {% block footer %}
    {% include "bmnc_news/partials/footer.html" %}
    {% endblock %}

</footer>
</html>
