body {
    background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%) fixed;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0  
}

#BMNC {
    font-size: 8em;
    font-weight: bold;
    text-align: center
}

#BMNC:hover {
    color: aqua;
}

footer {
    padding: 20px;
    text-align: center
}