body {
    font-family: 'Raleway', cursive;
    height: 100%;
    margin: 0;
    padding: 0  
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: #FF8260;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    position:absolute;
}

#BMNC {
    font-size: 8em;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

#BMNC:hover {
    color: #900048;
    text-decoration: underline
}

#have {
    text-align: center;
    font-size: 30px;
    margin-top: 80px
}

#login {
    margin-right: 100px;
    margin-left: 525px
}

.btn {
    padding: 15px 32px
}