body {
    /* background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%) fixed; */
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0  
}

#BMNC {
    font-size: 8em;
    text-align: center
}

#BMNC:hover {
    color: aqua;
}

.btn {
    position: relative;
    left: 80px;
    top: 2px;
}

footer {
    background: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    /* position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    text-align: center;
    margin: 0 auto */
    width: 100%;
    height: 28px;
    position: absolute;
    bottom: 0px; 
    left: 0px; 
    text-align: center; 
}

a {
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #222;
    border: 1px solid #ccc9c9;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0px 1px 0px #e8e7e7;
    font-size: 15px;
    cursor: default;
  }
  
  a:hover {
    background-color: #eaeaea;
  }
  
  a:active {
    box-shadow: inset -0px 4px 2px -3px #ccc9c9;
  }