{% extends "bmnc_news/layout/base.html" %}

{% block content %}

<style>

.box {
    transition: box-shadow .3s;
    width: 100%;
    height: 80px;
    margin-top: 25px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;

}

.box:hover {
    box-shadow: 0 0 80px rgba(33,33,33,.2);
    font-weight: bold
}

.box p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 16px
}
</style>

<section name="polling">
    <div class="container">
        <h3 style="text-align: center; margin-top: 5px; font-weight:bold">Polling Biasa</h3>
        <div class="box">
            <p style="text-align:left">https://wikia.com</p>
            <p style="text-align:right">Kampanye</p>
        </div>
        <div class="box">
            <p style="text-align:left">https://drupal.org</p>
            <p style="text-align:right">Topik Umum</p>
        </div>
        <div class="box">
            <p style="text-align:left">https://discovery.com</p>
            <p style="text-align:right">Tokoh terfavorit</p>
        </div>
        <div class="box">
            <p style="text-align:left">http://imdb.com</p>
            <p style="text-align:right">Kebijakan Publik</p>
        </div>
    </div>
</section>
{% endblock %}
